body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.todo-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h1 {
  margin: 0 0 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#task-input,
#task-date {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  margin-bottom: 10px;
}

#add-task-button {
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#add-task-button:hover {
  background-color: #218838;
}

#task-list-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-list {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.task-item span {
  flex-grow: 1;
  margin-left: 10px;
}

.task-item.completed span {
  text-decoration: line-through;
  color: #777;
}

.task-item img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
